{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}

    {% include 'includes/blocks.html.twig' %}

    <h2>{{ content.linkListTitle }}</h2>
    <p>{{ content.linkListSubtitle }}</p>

    {% for element in content.elements %}
        <div class="grid__item width-4 width-tablet-6 width-mobile-12">
            <div class="card">
                <div class="card__image-holder">
                    {% set media = sulu_resolve_media(element.excerptImages[0], app.request.locale) %}
                    <img src="{{ media.formats['600x400'] }}" class="card__image" alt="{{ element.title }"/>
                </div>

                <div class="card__body">
                    <h2 class="card__title"><a href="{{ sulu_content_path(element.url) }}">{{ element.title }}</a></h2>

                    <a href="{{ sulu_content_path(element.url) }}"
                       class="button card__button">{% trans %}READ MORE{% endtrans %}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <ul>
        {% for linkItem in content.linkListItems %}
            <li>
                <a class="btn btn-primary m-1"
                   role="button"
                   href="{{ linkItem.linkItemUrl }}"
                   target="_blank">
                    {{ linkItem.linkItemDisplay }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if content.organization is defined and content.organization is not empty %}
        {% set organization = content.organization[0] %}
        <ul>
            <li>
                <a href="mailto:{{ organization.mainEmail }}">
                    {{ organization.mainEmail }}
                </a>
            </li>
            <li>
                <a href="tel:{{ organization.mainPhone }}">
                    {{ organization.mainPhone }}
                </a>
            </li>
        </ul>
    {% endif %}

    {% if content.aboutItems is not empty %}
        <section id="about">
            <div class="container">
                <div class="row">
                    {% for aboutItem in content.aboutItems %}
                        <div class="col-lg-4">
                            <div>
                                <img src='{{ aboutItem.image.thumbnails['300x200'] }}'
                                     alt="{{ aboutItem.image.title }}">
                            </div>
                            <div>
                                <h3>
                                    {{ aboutItem.itemHeadline }}
                                </h3>
                                <p>
                                    <i class="fa-solid fa-{{ aboutItem.icon }}"></i>
                                </p>
                            </div>
                            <div>
                                <p>{{ aboutItem.itemDescription|raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if content.processSubtitle is not empty and content.processTitle is not empty %}
        {% set source = content.processImage[0].thumbnails['1921x983'] %}
        <section id="process-section" style="background-image: url({{ source }})">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h6 class="uppercase">{{ content.processSubtitle }}</h6>
                            <div class="m-2">
                                <h2>{{ content.processTitle }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if content.servicesItems is not empty %}
        <div>
            <h2>{{ content.servicesTitle }}</h2>
            <p>{{ content.servicesSubtitle }}</p>
            <div>
                <suli-link class="btn btn-primary"
                           role="button"
                           href="{{ content.servicesPageSelection }}">
                    {{ content.servicesBntText }}
                </suli-link>
            </div>
        </div>
        <ul>
            {% for servicesItem in content.servicesItems %}
                <li>{{ servicesItem.text }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if content.carItems is not empty %}
        <section id="car-section">
            <div class="container">
                <div class="row">
                    {% for carItem in content.carItems %}
                        <div class="col-lg-4">
                            <div>
                                <div class="text-center">
                                    <div class="items-body">
                                        <div class="title-body">
                                            <h5>
                                                <i class="fa-solid fa-{{ carItem.carIcon }}"></i>
                                                {{ carItem.carTitle }}
                                            </h5>
                                        </div>
                                        <div class="padding-around">
                                            {{ carItem.carDescription|raw }}
                                        </div>
                                        <div>

                                            <sulu-link class="btn btn-secondary m-1"
                                                       provider="page"
                                                       role="button"
                                                       href="{{ carItem.carBtnLink }}"
                                                       target="_blank">
                                                {{ carItem.carBtnText }}
                                            </sulu-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
