<div class="container">
    <div class="row">
        <div>
            <h3>
                {{ content.title }}
            </h3>
            {{ content.description|raw }}
            {% if (content.btnLink and content.btnText) %}
                {% set target = sulu_content_load(content.btnLink).content.url %}
                <a class="btn btn-primary"
                   role="button"
                   href="/{{ app.request.locale }}{{ target }}">
                    {{ content.btnText }}
                </a>
            {% endif %}
        </div>
    </div>
</div>